/Banner
/cache
/conf
/cronjobs
/export
/lic
/media
/plugin_cache
/plugins
/templates
/templates_c
/xtAdmin
/xtCommerce_6.1.0-2019-03-05
/xtCore
/xtFramework
/xtLogs
/xtPro
/xtWizard
.htaccess
captcha.php
cronjob.php
cronstep.php
index.php
Installationsanleitung.url
LICENSE.txt
robots.txt
versioninfo.php
xtCommerce KCO German.pdf